body{
  background-repeat: repeat-y;
  background-position: left;
  padding: 10px 40px 10px 110px;

  background-image: url('sin.png');
}


p:first-letter{
  margin-left: 25px;
}

h1, h2{
  font-variant: small-caps;
}

.kepek{
  width: 333px;
  margin-left: 25px;
  margin-bottom: 25px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #888888;
  -ms-transform: rotate(3deg); /* IE 9 */
  -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
  transform: rotate(3deg);
  float: right;
}

#urlap{
  border: 1px dotted gray;
  border-radius: 20px;
  text-align: center;
  margin: 10px 100px;
  padding: 10px;
}


p {
  text-align: justify;
}